API_ID=35439165
API_HASH=0e351a08962a119fb9049389c922a482
BOT_TOKEN=8731666661:AAEj3o5Ky2bwjSGa1PKL0MCWKjiovC6Kk9A
SESSION_STRING=AQIcwj0AIB13jtBjY1BFG7HRjCku0Ga2NCWqrR3VT9ybBAEPP-N4yFFv8qOfXsmlbfM2NSecb4YGAcdzGjARNo7fF5MzZmofjjxyfNxgvfm1SCP1R-FAq-gwaqzIObkVdYuX41uPBKK4OSfqu_yKqXF9QFvOQZFuSnh3NzpWT7-BQyifTkPbbXPTNpVpz4UiwU6fS5Ip4EMianZEIfBDXff663a5__TXlV9nIaz0RbcJu3H-_oyBlTayqtQ31fWlqZFjjKH0vzOIZmF9c8_7nGx9puQOTBpVulupxmjlidxmvd6R0AZ6EPux_x-aHBqZlC9ck6diP2-JZQ7oAMn19ZxdMsNhRAAAAAIJi4jYAA
MONGO_URI=202.133.59.178/32
OWNER_ID=8624914627
